#body{
	background-color:#CCE5FF;
	min-height:500px;
	}
#homepage{
	background-color:#0f375b;
}
.homepagetitle{color:#FFFFFF;}
#spacediv{height: 100px; width: 100%;}
.top{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:60px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:20px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
	}
.login img{margin-top:30px;}
.login form{margin-top:10px;}
.login form input[type="submit"]{
								width:100%;
								margin-bottom:40px;
								}
.login p{color:#BDBDBD;}

/* ======================== index.php =========================== */
.headSection .myhead{
					background-color:#4B6C9E;
					}
.headSection .myhead h3{
						font-weight:bold;
						color:#FFFFFF;
						}
.headSection .myhead .text-right{
								padding-top:16px;
								}
.headSection .myhead .text-right p{
								color:#FFFFFF;
								}	
.headSection .myhead .text-right p a{
								color:#FFFFFF;
								}	
.headSection .navbar-default {
    background-color: #0F375B;
    border-color: transparent;
}			
.navbar-default .navbar-left>li>a {
    color: #FFFFFF !important;
}
.navbar-default .navbar-left>li:hover a {
    background-color:transparent;
	border-bottom:3px solid #FFFFFF;
}
.navbar-default .navbar-left #menu:hover{background-color:#0F375B; color:#ffffff;}


.ctn{
	background-color:#FFFFFF;
	min-height:460px;
	}
						

.signleTranscation, .multipleTransaction table{padding:0px;margin:0px;}
.signleTranscation, .multipleTransaction input[type="submit"]{
											width:100%;
											}
#innerTable a{
	text-decoration: none;
	color:#000;
}
.main{
	background-color:#F7F7F7;
	border-radius:20px;
	margin-top:10px;
	margin-bottom:30px;
	padding:10px;
	-webkit-box-shadow: 0 8px 6px -6px #B7BABB;
	   -moz-box-shadow: 0 8px 6px -6px #B7BABB;
	        box-shadow: 0 8px 6px -6px #B7BABB;
}			
.control p{color:grey;
			font-weight:bold;
			}		
						
					

.tbwo tr {background-color:green;}

#footer{height: 100px; color: black;}
#developer { color:black; font-size: 10px; }
						
						
						
						
						
						
						